/* background color (every page)*/
body {
    background-color: rgb(244,244,244);
} 
/* end of background color*/

/* Top and Bottom navbar (every page) */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(191, 191, 191);
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(50,77,171);
}

.active {
    background-color: rgb(137,154,214);
}

.bottomnav {
  background-color: rgb(191,191,191);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* end of top and bottom nav */




/* homepage styling */

.forum{
  border-radius: 25px;
  border: 2px solid rgb(8, 24, 94);
  background: rgb(35,61,144);
  padding: 40px; 
  width: 400px; 
  height:800px;
  top: 50px;
  display: inline-box;
}

.news{
    border-radius: 25px;
    border: 2px solid rgb(8, 24, 94);
    background: rgb(35,61,144);
    padding: 40px; 
    width: 830px; 
    height:300px;  
    display:block; 
} 

.prevention{
    border-radius: 25px;
    border: 2px solid rgb(8, 24, 94);
    background:rgb(50,77,171);
    padding: 40px; 
    width: 830px; 
    height:300px;
    display:block; 
}

p{
    border: 2px solid rgb(35,61,144);
    background: rgb(50,77,171);
    text-align: center;
    padding: 20px; 
    color: white; 
    font-family:'Source Sans Pro Topnav', sans-serif;
    
}

.hp-container{
  display: inline-block;
  
}

/* end of homepage styling */

/* newspage styling */



/* end of newspage styling */

/* prevention styling */



/* end of prevention styling */

/* testinmonies styling */



/* end of testimonies styling */

/* hotlines styling */



/* end of hotlines styling */